extends layout/workflow

block heading
        h1 The Rock Ninja

block content
    if user
        h4 Hello #{user.displayName}!
        a(href="/logout") Logout
    else
        .text-center
            p To continue, please sign in with your Microsoft account and allow access to your Azure Subscription.
            a(href="/login")
                img(src="/img/login-white.svg")
